@model PetProject_4.Domain.Models.UserProject

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de @Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.repository)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.repository)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.page)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.page)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
